<div class="container">
  <div class="wrapper">
    
    {{> admin-navbar}}

    {{!-- Main --}}
    <div class="main">
      
      {{!-- Title --}}
      <h4 class="main-title">推文清單</h4>
      
      {{!-- Tweets --}}
      {{#each tweets }}
      <div class="card card-tweet-lg">
        <a class="tweet-href"></a>
        <div class="avatar" data-bs-toggle="modal" data-bs-target="#adminTweetModal-{{this.id}}" data-tweetid="{{ this.id }}">
          <a class="primary-anchor">
            {{#if this.User.avatar}}
            <img src="{{this.User.avatar}}" alt="avatar" class="avatar">
            {{else}}
            <img src="/stylesheets/icons/profile-img.svg" alt="avatar" class="avatar">
            {{/if}}
          </a>
        </div>
          
        <div class="card-text">
            <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" class="tweet-delete-form" >
              <button class="close-btn" id="adminDeleteButton" type="submit">
                <img src="/stylesheets/icons/close.svg" onclick="return confirm(`確定要刪除此 Tweet 嗎？`)" alt="delete">
              </button>
            </form>
            
          <div class="card-text-info" data-bs-toggle="modal" data-bs-target="#adminTweetModal-{{this.id}}" data-tweetid="{{ this.id }}">
            <a class="primary-anchor">
              <span class="card-name">{{this.User.name}}</span>
            </a>
            <a class="primary-anchor">
              <span class="card-account">@{{this.User.account}}</span>
            </a>
            <span class="card-dot">·</span>
            <span class="card-datetime">{{relativeTimeFromNow this.updatedAt}}</span>
            <a class="primary-anchor">
              <p class="card-description">{{this.simpleText}}</p>
            </a>
          </div>
        </div>
      </div>

      {{!-- {{> admin-tweet-modal}} --}}

      {{/each}}
    </div>
  </div>
</div>

    